.scroll-to-top {
  position: fixed;
  bottom: 30px;
  left: 30px; 
  height: 45px;
  background-color: #0f2e1e;
  color: #f9a825; 
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1500;
  
  
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.4s ease;


  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &:hover {
    background-color: #f9a825;
    color: #0f2e1e;
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .scroll-to-top {
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
  }
}